<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="449e826d-ac6b-4830-9e5d-d7289f8e209b"
    Publisher="CN=makan"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="449e826d-ac6b-4830-9e5d-d7289f8e209b" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SolidAppForWindowsUWP</DisplayName>
    <PublisherDisplayName>makan</PublisherDisplayName>
    <Logo>Assets\Logo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SolidAppForWindowsUWP.App">
      <uap:VisualElements
        DisplayName="SolidSpaceAnalizer"
        Square150x150Logo="Assets\Logo.png"
        Description="SolidAppForWindowsUWP"
        BackgroundColor="transparent" Square44x44Logo="Assets\Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SPace.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>